<h1>Admin</h1>
<% if (typeof all !== 'undefined') { %>
  <% if (all.length === 0) { %>
    <p>No results found</p>
  <% } else { %>
    <div>
      <table>
        <thead>
          <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Username</th>
            <th>Telephone number</th>
            <th>Street</th>
            <th>City</th>
            <th>Postal code</th>
            <th>Country</th>
          </tr>
        </thead>
        <tbody>
          <% for (var i = 0; i < all.length; i++) { %>
            <tr>
              <td><%= all[i].first_name %></td>
              <td><%= all[i].last_name %></td>
              <td><%= all[i].email %></td>
              <td><%= all[i].user_name %></td>
              <td><%= all[i].tel_no %></td>
              <td><%= all[i].street %></td>
              <td><%= all[i].city %></td>
              <td><%= all[i].postal_code %></td>
              <td><%= all[i].country %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  <% } %>
<% } else { %>
  <p>Something went wrong</p>
<% } %>